html {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana;
    font-size: 16px;
    display: block;
    margin: 8px;
}

h1 {
   font-weight: normal;
    font-size: 3.125rem;
}

h2 {
    font-weight: 300;
    font-size: 2.625rem;
}

a {
    color: aquamarine;
}

p {
    font-size: 1.25rem;
    color: gray;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

video {
    object-fit: contain;
}

footer {
    text-align: right;
    color: gray;
}

.phone-icon {
    margin-top: 1.25rem;
}


.camp-site {
    max-width: 100%;
    height: auto;
}
